#root{
  background-color:white;
  margin:50px;
 }
h1 {
color: rgb(27, 7, 7);
/* border:3px #f2f4f5; */
font-family:Tahoma;
font-size:150%;
background-color: whitesmoke;
border-radius: 10px 10px 10px 10px;
box-shadow:3px 9px 17px 6px rgb(206, 196, 196);
padding:10px;

text-align: center;
}


.cardCountener{
  width:200px;
  height:250px;
  border:3px solid rgb(230, 225, 225);
  box-shadow:3px 9px 17px 6px rgb(206, 196, 196);
  border-radius: 10px 10px 10px 10px;
  background-color: whitesmoke;
  padding:5px;
  
}
.container {
  width: 300px;
  height: 300px;
  display: flex ;
  flex-wrap: wrap;
  object-fit: cover;
  justify-content:center;
  gap:10px 20px;
  column-gap:20px;
  order:4;
}
.imageClass{
height:50%;
width:100%;
}
.tableStyle{
width:100%;
display: grid;
background-color: rgb(241, 238, 238);
padding:1px;
/* margin:2px; */
display: table;
display: table-row;

}

.imageClassTable{
  max-width:90px;
  max-height:70px;
  border-radius: 10px 10px 10px 10px;
}

td,th{
width:200px;
grid-column-gap:2px;

 }
.tableHeaderStyle{
background-color: black;
color:white;
font:icon;
display: table;
display: table-row;

/* grid-template-columns: 20 10 30 40; */

text-align: center;
column-gap: 300px;
}

/* .populationHeader{
text-align: end;
margin-left: 500px;
} */
 .centerClass{
   text-align: center;
   width:100%; 
 }
 
 /* th{
  width:200px;
   }
  */