h1 {
color: rgb(27, 7, 7);
border:3px #f2f4f5;
font-family:'Segoe UI', Tahoma;
font-size:300%;
background-color: whitesmoke;
border-radius: 10px 10px 10px 10px;
box-shadow:3px 9px 17px 6px rgb(206, 196, 196);
padding:20px;
text-align: center;
}

#root{
 background-color:white;
 margin:200px;
}
.cardCountener{
  width:200px;
  height:250px;
  border:3px solid rgb(230, 225, 225);
  box-shadow:3px 9px 17px 6px rgb(206, 196, 196);
  border-radius: 10px 10px 10px 10px;
  background-color: whitesmoke;
  padding:5px;
  
}
.container {
  display: flex ;
  flex-wrap: wrap;
  object-fit: cover;
  justify-content:center;
  gap:10px 20px;
  column-gap:20px;
  order:4;
}
.imageClass{
height:50%;
width:100%;
}
.tableStyle{
width:100%;
flex-direction:column;
background-color: whitesmoke;
text-align: left;

}
.imageClassTable{
  max-width:80px;
  max-height:80px;
  border-radius: 20px 20px 20px 20px;
 }
td{
 width:15px;
  line-height: 2;
   
 }
.tableHeaderStyle{
  background-color: black;
  color: white; 
  /* padding: 5px;   */
  width:100%;
  line-height: 2;
  /* margin: 10px; */
  text-align:right;
  
 }
 .name{
   text-align: left;
   
 }
 .centerClass{
   text-align: center;
   width:100%;
   margin: 30px;
 }
